---
const {url, title, imageUrl, author} = Astro.props
---
<div class="rounded-md overflow-hidden shadow-sm transition-transform h-auto">
  <a href={url}>
    <div class="relative rounded-md h-48 w-full overflow-hidden">
      <img
        src={imageUrl}
        alt="Blog post preview image"
        class="object-cover w-full h-full"
      />
    </div>
    <div>
      <h1 class='my-2 font-bold text-xl text-gray-900'>{title}</h1>
    </div>
    <div class='flex justify-between my-4 items-center'>
      <div class='flex space-x-2 items-center overflow-hidden'>
        <img
          class='inline-block h-8 w-8 rounded-full ring-2 ring-white'
          src="https://via.placeholder.com/1080"
          alt="Author picture"
          width={32}
          height={32}
        />
        <p class='font-medium text-xs text-gray-600'>{author}</p>
      </div>
    </div>
  </a>
</div>